.friendMessage {
    padding: 20px 70px;
}

.friendImageAndText {

    display: flex;


}

.friendImageAndText img {
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.friendText {
    padding: 10px;
    font-size: 18px;
    text-align: right;
    color: #FFFFFF;
    background-color: #0059b3;
    border-radius: 10px 10px 10px 0px;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
}

.friendMessageText {
    font-size: 16px;
}

.friendTime {
    padding-left: 8px;
    text-align: left;
    font-size: 10px;
}
